<%= render "shared/header" %>

<h1>Confirm purchase of: <%= @image.title %> for
<% if @image.discount %>
  $<%= @image.discount_price %>
<% else %>
  $<%= @image.price %>
<% end %>
</h1>

<p>Fortunately the interviewer discount reduces the price by 
<% if @image.discount %>
  $<%= @image.discount_price %>.
<% else %>
  $<%= @image.price %>.
<% end %>
</p><p>
Your new total is $0.00, please enter your email below and click enter to complete your purchase.</p>

<label for="email">Please enter your email:</label>
<input type="email" id="email" name="email">

<a href="/confirmed">Enter</a>